# Flutter
.dart_tool/
build/
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.log
*.lock
*.pid
*.tmp
.pub-cache/
.pub/
pubspec.lock
*.generated.dart

# Android
android/local.properties
android/.gradle
android/.idea
android/build
android/app/build

# iOS
ios/Pods
ios/.symlinks
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig

# Web
web/index.html

# Windows
windows/build
windows/CMakeCache.txt
windows/CMakeFiles

# MacOS
macos/build
macos/Flutter/Flutter.podspec
macos/Flutter/Generated.xcconfig

# Linux
linux/build
linux/CMakeCache.txt
linux/CMakeFiles
